{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}

{% block body %}
    <h1>Group</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ group.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ group.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ group.type }}</td>
            </tr>
            <tr>
            <tr>
                <th>range Start</th>
                <td>{{ group.rangeStart}}</td>
            </tr>
            <tr>
            <tr>
                <th>Range End</th>
                <td>{{ group.rangeEnd}}</td>
            </tr>
            <tr>
                <th>Selet Mode</th>
                <td>{{ group.selectMode }}</td>
            </tr>
            <tr>
                <th>Unit</th>
                <td>{{ group.unit ? group.unit.name : '' }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ group.position }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ group.color }}</td>
            </tr>
            <tr>
                <th>ChildsLimit</th>
                <td>{{ group.childsLimit }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ group.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Criterias</th>
                <td>
                    {% for item in group.criterias %}
                        <span class="text-success">{{item.name}}</span>
                        {{loop.last ? '' : ', '}}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ group.createdAt ? group.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ group.updatedAt ? group.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ group.deletedAt ? group.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_group_index') }}" class="btn btn-secondary">back to list</a>

    <a href="{{ path('app_admin_group_edit', {'id': group.id}) }}" class="btn btn-warning">edit</a>

    {{ include('admin/group/_delete_form.html.twig') }}
{% endblock %}
